.button-transparent{
    height: 100%;
    width: 48%;
    position: absolute;
    background-size: contain;
    background-color: transparent ;
    border: 0ch;
}

.venta{
    background-image: url(/src/assets/Img/ImgStylesButton/venta.jpg);
    background-repeat: no-repeat;

    background-size: contain;
    height: 50vh;
}