.bor-location{
    border-bottom: 3px solid black;
}

/*Card del inmobil*/
.disp{
    display: none;
}
.inmobil-card-client {
    margin: 2rem;
    border-radius: 0.25rem;
    background-color: rgb(255, 255, 255);
    height: auto;
}
.less{
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: rgba(12, 131, 255, 1);
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.brdr{
    border-radius: 0.25rem;
}
.inmobil-name{
    font-size: 1.5rem;
    font-weight: 1000;
} 
.inmobil-lctn{
    font-size: medium;

} 
.inmobil-cost{
    font-size: 1.5rem;
    font-weight: 1000;
}
.spc{
    border-radius: 0.25rem;
    background-color: #96AEDC;
}
.inf{
    width:70%;
}
.inmobil-buy {
    font-size: 1.2rem;
    font-weight: 900;
}
/*Card del inmobil*/
/*Card del Bodoque*/
.bodoques{
    display: flex;
}
.cntr{
    justify-content: center;
}
.bodoquefoto{
    border-radius:0.25rem 0.25rem 0rem 0rem;
}
.infobodoque{
    background-color: white;
    border-radius: 0rem 0rem 0.25rem 0.25rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/*Card del bodoque*/
