.agent-card{
    margin: 2rem;
    border-radius: 0.8rem;
    background-color: rgb(255, 255, 255);
    height: 12rem;
}


.info-agent{
    flex-direction: column;
    
}
.info-agent-data{
    display: flex;
    align-items: center;
    height: 4rem;
}
.the-info{ 
    color: rgba(12, 131, 255, 1);
    align-items: center;
}
.space{
    border-radius: 0.25rem;
    background-color: rgba(217, 217, 217, 1);
    align-items: center;
    height: 2.5rem;
}

.space h6{
    padding-top: 9px;
}
.info-agent-multidata{
    display: flex;
    align-items: center;
    height: 4rem;
}
