.agent-card{
    margin: 2rem;
    border-radius: 0.25rem;
    background-color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
    height: 12rem;
    width: 80%;
}
.img-agent-cont{
    display: flex;
}
.agent-img{
    border-radius: 0.25rem;
    width: 100%;
}
.info-agent{
    flex-direction: column;
    
}
.info-agent-data{
    display: flex;
    align-items: center;
    height: 4rem;
}
.the-info{ 
    color: rgba(12, 131, 255, 1);
    align-items: center;
}
.space{
    border-radius: 0.25rem;
    background-color: rgba(217, 217, 217, 1);
    align-items: center;
}
.info-agent-multidata{
    display: flex;
    align-items: center;
    height: 4rem;
}
