.logs{
    background-color: #96AEDC;
    border-radius: 20px;
}

.fonlog{
    background-image:
    url(/src/assets/img/Ksita.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
}

.button-size{
    width: 30vh;
    height: 5vh;
}