/*volver a diseñar*/


/*.onCenter{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgba(0, 216, 216, 0.258);
    border: 2px solid rgb(0, 78, 78);
    border-radius: 2rem;
}
.spaced{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
*/